@keyframes imHere {
  100% {
    -webkit-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
    color: #ff5300;
  }
}
a.imHere:hover {
  animation: imHere 3s linear 1 alternate-reverse;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575e75;
  background: #fcfcfc;
}
body.dark {
  background-color: #111111;
  color: #fcfcfc;
}
bar {
  position: absolute;
  right: 0;
  background: #2c6d31;
  height: auto;
  width: 100vw;
  color: #fff;
  line-height: 28px;
  font-size: 14px;
  align-items: center;
}
bar#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
}
#header img.logo {
  height: 2.25rem;
  bottom: 0.25em;
  margin-left: 1.05em;
  position: relative;
}
#header h-item.button {
  cursor: pointer;
  height: 3rem;
  vertical-align: middle;
}
#header h-item.button:hover {
  background-color: #255d2a;
}
.small {
  font-size: 90%;
}
a.link {
  text-decoration: underline;
}
a:not(:hover) {
  text-decoration: none;
}
a.link {
  color: #ff5300;
}
a.link:hover {
  color: #00dc0f;
}
.main-content {
  padding-top: 4.8rem;
  padding-bottom: 0.2rem;
}
#specific-versions ul li a {
  color: #ff5300;
}
#specific-versions ul li a:hover {
  color: #00dc0f;
}
#specific-versions ul li {
  margin-bottom: 0.7em;
}
bar a.link {
  color: #fff;
}
bar a.link:hover {
  color: #f6ab3c;
}
#header h-item {
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
/*Scratch-likely button, i is placed like this: <a data-placement="left" href="https://github.com/ScratchCE/beta"> <button class="button"><span>GitHub Repository</span></button></a>*/
/*.button {
display: inline-block;
margin: 0.5em 0;
border: 0;
border-radius: 0.5rem;
background-color: #ff5300;;
cursor: pointer;
padding: 1em 1.25em;
color: #fff;
font-size: .8rem;
font-weight: bold;}
        .button:hover{background-color: #00dc0f;}*/
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.footer-content p {
  max-width: 550px;
  margin: 15px auto;
}
/*Discord server, cst, retronvb, etc*/
#footer-socials {
  float: right;
  margin-bottom: 10px;
}
#footer-socials a {
  padding-right: 17px;
  padding-bottom: 5px;
}
.sub-footer {
  background: #000;
  width: 100vw;
  text-align: center;
}
.sub-footer p {
  margin-block: 0em;
}
#semicolon {
  margin: 0;
  line-height: 1.5385em;
  background: #000;
  color: #fff;
  font: 81.25% "Lucida Grande", arial, sans-serif;
  padding-left: 18px;
  text-align: left;
}
